* {
    font-family: sans-serif;
}

.gradeBubble {
    stroke-width: 2px;
    stroke: white
}

.gradeBubble:hover {
    stroke: black
}

.tooltip {
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: auto;
    font-style: italic;
    color: rgba(246, 246, 246, 0.9);
}

.tooltip span, .tooltip b {
    font-style: normal;
    color: white;
}